* {
    box-sizing: border-box;
}

.block1 {
    background: linear-gradient(178.18deg, #FD749B -13.56%, #281AC8 158.3%);
    height: 1000px;
    padding: 10%;
}

.block_white {
    background-color: white;
    width: 60%;
    height: 300px;
    margin-top: 15% ;
    margin-left: 20%;
    margin-right: 20%;
    padding: 20px;
    border-radius: 30px;
}

img {
    width: 100%;
}

.img_top {
    margin-bottom: -350px;
}

.img_bot {
    margin-top: -200px;
}